body {
  margin: 0;
  background-color: #daebee;
}

/* class sel */
/* main */
.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 370px;
  margin: 80px auto 0;
  box-shadow: 0px 6px 8px 5px hsl(219, 52%, 86%);
  border-radius: 10px;
}

/* top-block */
.top-block {
  width: 500px;
  background-color: white;
  height: 170px;
  filter: blur(0.4px);
  border-radius: 5px 5px 0 0;
}
.top-block h3 {
  font-family: "Karla", sans-serif;
  color: hsl(179, 62%, 43%);
  margin-top: 0px;
  margin-left: 30px;
  padding-top: 30px;
  font-size: 1.18rem;
}

.top-block h4 {
  font-family: "Karla", sans-serif;
  color: hsl(71, 73%, 54%);
  margin: 20px 30px 10px;
  font-size: 0.9rem;
}

.top-block p {
  color: hsl(218, 22%, 67%);
  font-family: "Karla", sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1;
  margin-left: 30px;
  margin-bottom: 7px;
}

/* bottom-left */

.bottom-left {
  width: 250px;
  height: 200px;
  background-color: hsl(179, 62%, 43%);
  margin: 0;
  border-radius: 0 0 0 5px;
}

.bottom-left h4 {
  margin-top: 0;
  padding-top: 30px;
  font-family: "Karla", sans-serif;
  color: ivory;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: normal;
}

.dollor {
  display: inline-block;
  color: ivory;
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.month {
  position: relative;
  display: inline-block;
  font-family: "Karla", sans-serif;
  color: hsl(180, 49%, 67%);
  font-size: 0.75rem;
  bottom: 4px;
  left: 9px;
  margin-bottom: 0;
}

.access {
  color: hsl(180, 51%, 82%);
  font-family: "Karla", sans-serif;
  font-size: 0.7rem;
  margin-top: 0;
  margin-left: 30px;
  font-weight: lighter;
}

.btn {
  margin: 10px 30px 30px;
  width: 75%;
  padding: 10px 0;
  border-style: none;
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
}

.btn a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: white;
}

.btn a:hover {
  color: hsl(179, 62%, 43%);
}

/* bottom-right */

.bottom-right {
  width: 250px;
  height: 200px;
  background-color: hsl(179, 50%, 54%);
  margin: 0;
  border-radius: 0 0 5px 0;
}

.bottom-right h4 {
  margin-top: 0;
  padding-top: 30px;
  font-family: "Karla", sans-serif;
  color: ivory;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: normal;
}

ul {
  padding-left: 30px;
}

li {
  list-style-type: none;
  color: hsl(180, 56%, 82%);
  font-family: "Karla", sans-serif;
  font-size: 0.7rem;
  text-shadow: 1px 1px -1px;
  padding-bottom: 3px;
  font-weight: lighter;
}

.list {
  padding-bottom: 26px;
}
/* id sel */
/* top-block css */

#last-one {
  padding-bottom: 40px;
  margin-top: 7px;
  margin-bottom: 0;
}

/* media queries */
@media only screen and (max-width: 375px) {
  body {
    background-color: #daebee;
    margin: 0;
  }

  .main-container {
    width: 225px;
    height: 560px;
    margin: 20px auto 0;
    box-shadow: 0px 0px 1px 0px grey;
  }

  .top-block {
    width: 225px;
    height: 200px;
    border-radius: 4px 4px 0 0;
  }

  .top-block h3 {
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 25px;
    font-size: 0.9rem;
  }

  .top-block h4 {
    margin: 20px 20px 10px;
    font-size: 0.7rem;
    font-weight: lighter;
  }

  .top-block p {
    font-size: 0.6rem;
    font-weight: normal;
    line-height: 2;
    margin-left: 20px;
    margin-right: 20px;
  }
  .bottom-left {
    width: 225px;
    margin: 0;
    height: 180px;
    border-radius: 0 0 0 0;
  }
  .bottom-left h4 {
    margin-left: 20px;
    padding-top: 20px;
  }

  .dollor {
    margin-left: 20px;
  }

  .month {
    left: 9px;
  }

  .access {
    margin-left: 20px;
  }

  .btn {
    margin: 10px 20px 30px;
  }

  .bottom-right {
    width: 225px;
    margin: 0;
    border-radius: 0 0 4px 4px;
    height: 180px;
  }
  .bottom-right h4 {
    margin-left: 20px;
    padding-top: 20px;
  }

  ul {
    padding-left: 20px;
  }
  li {
    font-size: 0.65rem;
    font-weight: normal;
  }
}

/* 400 regular
font-family: 'Karla', sans-serif;

700 bold
font-family: 'Karla', sans-serif;
*/
